{% extends 'base.html.twig' %}

{% block body %}
	<div class="hero-image">
		<div class="hero-text">
			<h1>Welcome to My Big Library</h1>
			<p>Listen, Watch and Read!</p>
		</div>
	</div>
{% endblock %}
